<h1 style="background-color: black; color: rgb(20, 220, 143)" >Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/institution" routerLinkActive="active"> Institution </a> </li>
    <li><a routerLink="/admission" routerLinkActive="active"> Admission </a> </li>
    <li><a routerLink="/academics" routerLinkActive="active"> Academics </a> </li>
    <li><a routerLink="/student" routerLinkActive="active">Student Service </a> </li>
    <li><a routerLink="/reserch&consultancy" routerLinkActive="active"> Reserch&Consultancy </a> </li>
    <li><a routerLink="/prakashabavan" routerLinkActive="active"> Prakashabavan  </a></li>
    <li><a routerLink="/iqac" routerLinkActive="active"> IQAC </a> </li>
    <li><a routerLink="/elearning" routerLinkActive="active"> E-learning  </a></li>
    <li><a routerLink="/campus" routerLinkActive="active"> Campus </a></li>
  </ul>
</nav>

<router-outlet></router-outlet>